* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* navbar */

#logo {
    width: 5%;
    margin-inline: 10px;
}

#nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#FAF0E4;
    overflow: hidden;
    text-align: center;
    align-items: center;
}

#nav-container a {
    text-decoration: none;
    color: black;
}


#dropbtn {
    border: none;
    background-color: inherit;
    font-size: 16px;
    padding: 12px 18px;
}

#dropdown-item {
    background-color:#f9eddf;
    position: absolute;
    display: none;
    z-index: 1;   
}

#dropdown-item a {
    color: black;
    padding: 12px 18px;
    text-decoration: none;
    display: block;

}

#registerbtn{
  background-color:#FF8551;
  border: none;  
  color: white;
  padding: 16px 15px;
  font-weight:600;
}

#registerbtn:hover {
    background-color:darkcyan;

}

#dropdown-item a:hover {
    background-color: blanchedalmond;
}

#dropdown:hover #dropdown-item{
    display: block;
}